$white:   #BFBDB6;
$gray-25: #6C7380;
$gray-50: #3b414a;
$gray-75: #1f222a;
$black:   #0D1017;
$black-0: #0D1017;
$black-1: #131721;
$red:     #F07178;
$orange:  #FF8F40;
$yellow:  #E6B673;
$green:   #AAD94C;
$blue:    #59C2FF;
$purple:  #D2A6FF;
